<!DOCTYPE html>
<html>
	<head>
		<title>Illinois Tech ACM</title>
		<script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
		<script>

			var config = {
				apiKey: "AIzaSyCGWEpvuy4sPR3n5xzwfATLzyMDvwE6tOY",
				authDomain: "illinois-tech-acm.firebaseapp.com",
				databaseURL: "https://illinois-tech-acm.firebaseio.com",
				storageBucket: "illinois-tech-acm.appspot.com",
				messagingSenderId: "344533734310"
			};

			firebase.initializeApp(config);

		</script>
		
		<!--Including Materialize-->
		<!-- Compiled and minified CSS -->
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
		<!-- Compiled and minified JavaScript -->
  		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
		
		<style type="text/css">
			body {
				background-image: url("http://img13.deviantart.net/0329/i/2015/340/c/b/dark_material_design_wallpaper__1_in_4k_by_tgs266-d9j7yts.png");
			}
		</style>
	</head>
	<body>

		  <nav>
			<div class="nav-wrapper grey darken-3">
			<a id="contest-name" class="brand-logo center" style="font-weight: 900; font-style: italic">Leaderboard:</a>
			</div>
		</nav>
		
		<div id="score-board" style="margin-left: 2%; margin-right: 2%; margin-top: 1%">
			<div>Loading...</div>
		</div>

		<script type="text/javascript" src="leaderboard.js"></script>
		
		<script type="text/javascript">

			/*
			 * You can populate fake teams like so:
			 * Use this to help visualize the leaderboard with actual data
			 */

			var FAKE_TEAMS = {
				'fake1': {
					name: 'Fake Team 1',
					submissions: {
						'12a': [{correct: true}],
						'12b': [{correct: true}]
					} 
				},
					'fake2': {
					name: 'Fake Team 2',
					submissions: {
						'11a': [{correct: true}],
						'12b': [{correct: true}]
					}
				},
				'fake3': {
					name: 'Fake Team 3',
					submissions: {
						'11a': [{correct: true}],
						'12b': [{correct: true}],
						'12a': [{correct: true}]
					}
				}
			}

			FAKE_TEAMS = {};

			/*
			 * Pass this function into the main method (or not) to handle changes
			 * Argument is a list of scoreboard changes
			 * - Change in Score gives: team, flag, before, after
			 * - Change in Rank gives: team, before, after
			 */

			function renderDiffs(diffs){
				diffs.forEach(diff => {
					switch(diff.type){
						case 'attempt':
							//var row = document.querySelector('[data-team="' + diff.team + '"]');
							//var cell = row.querySelector('[data-flag="' + diff.flag + '"]');
							//var delta = diff.after - diff.before;
							//var color = (delta > 0) ? 'green' : 'red';
							// flashElement(cell, color)
							break;
						case 'rank':
							var row = document.getElementById(diff.team);
							var delta = diff.after - diff.before;
							if(delta < 0){
								flashElement(row)
							}
							break;
						default:
							break;
					}
				});
			}

			function flashElement(el){
				el.classList.add("blue");
				el.classList.add("lighten-2");
				setTimeout(() => {
					el.classList.remove("blue");
					el.classList.remove("lighten-2");
				}, 750);
			}

			/*
			 * Pass the fake teams into the main method (or not) to display scores
			 * main() returns a promise with a `simulator` function as its argument
			 * the `simulator` function takes four arguments:
			 * - team id, flag id, submission object, time delay
			 * Use this to help visualize updates and lead changes
			 * Callback can also be used to apply JavaScript to rendered DOM element
			 * - returned as `board`
			 */

			main(renderDiffs, FAKE_TEAMS).then(response => {

				var simulateSubmission = response.simulator;
				var scoreBoard = response.board;

				/*simulateSubmission('fake1', '13c', {correct: true}, 3000).then(() => {
					simulateSubmission('fake1', '13d', {correct: false}, 3000).then(() => {
						simulateSubmission('fake1', '7a', {correct: true}, 3000).then(() => {
							simulateSubmission('fake1', '13a', {correct: true}, 3000).then(() => {
								simulateSubmission('fake1', '13f', {correct: true}, 3000);
							});
						});
					});
				});*/

			});

		</script>

	</body>
</html>