<!DOCTYPE html>
<html>
	<head>
		<title>Illinois Tech ACM</title>
		<script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
		<script>

			var config = {
				apiKey: "AIzaSyCGWEpvuy4sPR3n5xzwfATLzyMDvwE6tOY",
				authDomain: "illinois-tech-acm.firebaseapp.com",
				databaseURL: "https://illinois-tech-acm.firebaseio.com",
				storageBucket: "illinois-tech-acm.appspot.com",
				messagingSenderId: "344533734310"
			};

			firebase.initializeApp(config);

		</script>
		<style type="text/css">



		</style>
	</head>
	<body>
		
		<h1>Leaderboard</h1>
		<h2 id="contest-name">Loading...</h2>
		<div id="score-board">
			<div>Loading...</div>
		</div>

		<script type="text/javascript" src="leaderboard.js"></script>
		
		<script type="text/javascript">

			/*
			 * You can populate fake teams like so:
			 * Use this to help visualize the leaderboard with actual data
			 */

			var FAKE_TEAMS = {
				'fake1': {
					name: 'Fake Team 1',
					submissions: {
						'12a': [{correct: true}],
						'12b': [{correct: true}]
					}
				}
			}

			/*
			 * Pass this function into the main method (or not) to handle changes
			 * Argument is a list of scoreboard changes
			 * - Change in Score gives: team, flag, before, after
			 * - Change in Rank gives: team, before, after
			 */

			function renderDiffs(diffs){
				diffs.forEach(diff => {
					switch(diff.type){
						case 'score':
							var row = document.querySelector('[data-team="' + diff.team + '"]');
							var cell = row.querySelector('[data-flag="' + diff.flag + '"]');
							flashElement(cell)
							break;
						case 'rank':
							var row = document.querySelector('[data-team="' + diff.team + '"]');
							var delta = diff.after - diff.before;
							var color = (delta > 0) ? 'green' : 'red';
							flashElement(row, color);
							break;
						default:
							break;
					}
				});
			}

			function flashElement(el, color){
				el.style.background = color || 'black';
				el.style.color = 'white';
				setTimeout(() => {
					el.style.background = 'transparent';
					el.style.color = 'black';
				}, 750);
			}

			/*
			 * Pass the fake teams into the main method (or not) to display scores
			 * main() returns a promise with a `simulator` function as its argument
			 * the `simulator` function takes four arguments:
			 * - team id, flag id, submission object, time delay
			 * Use this to help visualize updates and lead changes
			 * Callback can also be used to apply JavaScript to rendered DOM element
			 * - returned as `board`
			 */

			main(renderDiffs, FAKE_TEAMS).then(response => {

				var simulateSubmission = response.simulator;
				var scoreBoard = response.board;

				simulateSubmission('fake1', '12c', {correct: true}, 1000).then(() => {
					simulateSubmission('fake1', '12d', {correct: true}, 1000).then(() => {
						simulateSubmission('fake1', '12e', {correct: true}, 1000).then(() => {
							simulateSubmission('fake1', '12f', {correct: true}, 1000);
						});
					});
				});

			});

		</script>

	</body>
</html>