<!DOCTYPE html>
<html>
	<head>
		<title>Illinois Tech ACM</title>
		<script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
		<script>

			var config = {
				apiKey: "AIzaSyCGWEpvuy4sPR3n5xzwfATLzyMDvwE6tOY",
				authDomain: "illinois-tech-acm.firebaseapp.com",
				databaseURL: "https://illinois-tech-acm.firebaseio.com",
				storageBucket: "illinois-tech-acm.appspot.com",
				messagingSenderId: "344533734310"
			};

			firebase.initializeApp(config);

		</script>
		<style type="text/css">

			div#flag-pane, div#container {
				display: inline-block;
				vertical-align: top;
			}

			div#flag-pane {
				
			}

			div#container {
				width: 70vw;
			}

		</style>
	</head>
	<body>

		<div id="flag-pane"></div>
		<div id="container">
			<div id="submission-pane"></div>
		</div>

		<script src="../lib/moment.min.js"></script>
		<script type="text/javascript" src="team.js"></script>
		
		<script type="text/javascript">

			getFlags().then(list => {
				renderFlagPane(list);
			});

		</script>

	</body>
</html>